<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://www.bbcgoodfood.com/sites/default/files/guide/guide-image/2016/12/gin-cocktails-main.jpg);">
  <div class="banner-content">
    <h1><%= @cocktail.name.upcase %></h1>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li><%=dose.amount %> of <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %>
        <%= link_to "Delete this dose", dose_path(dose), method: :delete, class:"btn-xs btn-danger btn-lg"%>
      </li>
      <% end %>
    </ul>
    <%= link_to "Add Doses", new_cocktail_dose_path(@cocktail), class:"btn btn-success" %>
    <%= link_to "Back to homepage", cocktails_path, class:"btn  btn-primary" %>
  </div>
</div>

